#j_comment_view_ul {
    margin-left: 100px;
    font-size: 16px;
}

#j_comment_view_ul a {
    cursor: pointer;
    text-decoration: none;
}

.note_comment {
    width: 50%;
    margin: 0 auto;
}

.comment_view_ul {
    list-style: none;
}

.comment_view_ul li {
    margin-top: 30px;
}

.comment_view_user_info {
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}

.comment_view_title .comment_view_user_alias {
    font-weight: bold;
    margin-right: 8px;
    color: darkslategrey;
}

.comment_view_title .comment_view_time {
    color: darkgrey;
    font-size: 11px;
    margin-right: 8px;
}

.comment_view_title .comment_view_reply {
    font-size: 11px;
    cursor: pointer;
}

.comment_view_content {
    margin-top: 6px;
}

.comment_view_content .comment_view_content_data {
    margin-bottom: 6px;
}

.comment_view_content .comment_view_content_reply {
    margin-left: 60px;
    cursor: pointer;
    color: green;
}

.comment_view_load_more_root {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

.comment_view_content_delete {
    color: darkgrey;
    cursor: pointer;
    /*display: none;*/
}

#comment_view_load_more {
    margin: 30px 0px 0px 110px;
    display: none;
    cursor: pointer;
}

#comment_view_load_more code {
    font-size: 16px;
}