.findPwdContent table {
    margin: 20px auto;
    width: 500px;
}

.findPwdContent td {
    border: 0px solid transparent !important;
}

.textRightAndVMiddle {
    text-align: right;
    vertical-align: middle !important;
}

.find_pwd_answer {
    display: none;
}

.find_pwd_no_question_alt {
    text-align: center;
    display: none;
}

.find_pwd_no_question_alt span {
    color: red;
    font-weight: bold;
}