.menu {
    opacity: 0.6;
    margin-left: 14px;
    margin-bottom: 30px;
}

.menu a {
    width: 26px;
    height: 26px;
    background-color: #0592d3;
}

.menu i {
    line-height: 26px;
    margin-left: 4px;
    font-size: 18px;
}