#j_toc_menu {
    /*margin: 100px 0 0 20px;*/
}

#j_toc_menu .mfb-component__button--main {
    width: 0;
    height: 0;
    background-color: transparent;
}

#j_toc_menu i {
    font-size: 26px;
    color: #0592d3;
}

#j_toc_menu fieldset {
    margin: 0 4px 0 40px;
    float: left;
}

#j_toc_menu fieldset legend {
    background-color: white;
    border-radius: 6px;
    /*padding: 2px 6px 6px 4px;*/
    padding: 12px 18px 12px 12px;
    overflow: auto;
    max-height: 680px;
    border: 1px solid #ccc;
}

#j_toc_menu fieldset legend ul {
    padding-left: 20px;
    font-size: 16px;
}